.box-search{
  background: #f4d39c;
  padding: 20px 25px 20px 55px;
  /*border-top: #633d01 5px solid;*/
  /*border-bottom: #633d01 5px solid;*/
  border-left: #633d01 5px solid;
  height: 110px;
  /*width: 100%;*/
  color: #492b00;
}

form input{
  margin: 10px 0px;
  font-size: 18px;
  cursor: pointer;
  border: #633d01 2px solid;
  border-radius: 4px;
  padding: 5px;
  cursor: text;
}
.form-input{
  width: 80%;
}
form button{
  margin: 10px 5px;
  font-size: 18px;
  cursor: pointer;
  border: #633d01 2px solid;
  border-radius: 4px;
  padding: 5px;
  background: #623d01;
  color:  #ffcc5b;
}
.search-text{
  align-items: center;
}
.box-select{
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  gap: 12px;
}
