.modal-dialog {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 50px 25px;
  gap: 15px;
}
.modal-title{
  text-align: left;
  width: 100%;
  padding-left: 25px;
}
.modal-content {
  /*margin: 0px 25px;*/
  padding: 15px 20px;
  height: max-content;
  min-width: 500px;
  max-width: 900px;
  background-color: #f2d19b;
  border: #633d01 5px solid;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}
.modal-header{
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-bottom: 10px;
}
.btn-close{
  font-size: 30px;
  font-weight: bold;
  background-color: rgba(0,0,0,0);
  color: #492b00;
}

.row{
  display: flex;
  flex-direction: row;
  gap: 25px;
}
.pet_img{
  border-radius: 8px;
  height: 650px;
}
.box-info{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  gap: 25px;
}
.card-info{
  display: flex;
  flex-direction: column;
  gap: 5px;
  padding: 10px;
  background-color: rgba(99, 61, 1, 0.13);
  border: rgba(99, 61, 1, 0.58) 1.5px solid;
  border-radius: 8px;
}
.name{
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 5px;
}
.card-comm {
  background-color: rgba(99, 61, 1, 0.13);
  padding: 10px 10px 10px 10px;
  border-left: #633d01 5px solid;
  border-right: #633d01 5px solid;
  font-size: 18px;
  color: #492b00;
  word-break: normal;
  white-space: pre-line;
  /*line-height: 1;*/
  font-style: italic;
}
