.head {
  height: 550px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgb(242, 242, 242);
  background: url('/img/home-animals1.jpg');
  background-size: contain;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  padding: 10px 10px 50px 10px;
}
.head h1, .head h2, .head h3, .head h4, .head h5, .head h6 {
  color: #ffcc5b;
  width: max-content;
}
.box-logo{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
}

.logo-img{
  width: 200px;
  height: 100px;
  border: #633d01 2px solid;
  border-radius: 8px 8px 8px 8px;
}

.text-logo{
  padding: 0px 10px;
  width: 200px;
}

.nav{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  gap: 10px;
  color: #633d01;
  padding: 10px 25px;
  background: #f4d39c;
}
.list-nav{
  width: 60%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-around;
}
.list-nav a, .log a{
  text-decoration:none;
  font-weight: bold;
  font-size: 20px;
  color: #633d01;
  background: rgba(99, 61, 1, 0);
  padding: 5px;
  border: rgba(99, 61, 1, 0) 2px solid;
  border-radius: 8px;
  transition-timing-function: ease-out;
  transition-duration: 400ms;
}
.list-nav a:hover, .log a:hover{
  border: #633d01 2px solid;
  border-radius: 8px;
  background: #633d01;
  color: #d6ac51;
}
.title-site{
  width: 100%;
  text-align: end;
  font-size: 110px;
  /*text-shadow: 1px 1px 0 #3c2600, -1px -1px 0 #3c2600,*/
  /*1px -1px 0 #3c2600, -1px 1px 0 #3c2600;*/
  -webkit-text-stroke: 5px #3c2600;
  paint-order: stroke fill;
  padding-bottom: 50px;
}
.exit{
  cursor: pointer;
}
.user-status {
  /*font-weight: bold;*/
  text-decoration:none;
  font-size: 20px;
  color: #633d01;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.log {
  display: flex;
  gap: 10px;
  margin-bottom: 10px;
}
.log a{
  border: #d6ac51 2px solid;
  border-radius: 8px;
  background: #d6ac51;
}

.user-status strong {
  margin-left: 5px;
  color: #633d01;
}

