<div class="nav">
  <div class="box-logo"><a [routerLink]="['/items']"><img src="/img/Logo.png" alt="Logo" class="logo-img"></a>
  <h3 class="text-logo">З любов'ю до наших улюбленців</h3></div>
  <div class="list-nav">
    <a *ngFor="let item of navItems" [routerLink]="item.route">
      {{item.label}}
    </a>

    <ng-container *ngIf="authService.authStatus$ | async">
      <a *ngIf="authService.isAdmin()" routerLink="/add-item">Додати друга</a>
    </ng-container>
  </div>
  <div class="user-status">
    <div class="log">
      <ng-container *ngIf="!(authService.authStatus$ | async)">
        <a routerLink="/login" >Вхід</a>
        <a routerLink="/register">Реєстрація</a>
      </ng-container>

      <ng-container *ngIf="authService.authStatus$ | async">
        <a (click)="onLogout()" class="exit">Вийти</a>
      </ng-container>
    </div>

    <ng-container *ngIf="authService.currentUser$ | async as name; else guest">
      <span>Ви увійшли як: <strong>{{ name }}</strong></span>
    </ng-container>

    <ng-template #guest>
      <span>Вхід не активовано</span>
    </ng-template>
  </div>
</div>
<div class="head">
  <h3 class="title-site">{{text_header}} </h3>
</div>
