<a class="card"
   [routerLink]="['/items', pet.id]"
   appHoverCard="rgba(242, 209, 155, 0.5)"
     [ngStyle] = "pet.imageUrl ?
              {'background-image':`url(${pet.imgback})`,
              'background-size': '150px 150px',
              'background-repeat': 'repeat',
              'background-position': 'center'}
              : {}"
     >
  <div class="card-info">
    <img [src]="pet.imageUrl ? pet.imageUrl : '../img/Card-Pet/default.jpg'"
         alt="" class="pet_img">
    <h2 *ngIf = "pet.name">{{pet.name}}</h2>
    <p class="pet_age">Вік: {{pet.ageNum}} {{pet.ageYMD | ageUnitFull: pet.ageNum}}</p>
    <p class="pet_type"> Вид: {{pet.type}}</p>
    <p class="pet_breed" *ngIf = "pet.breed">Порода: {{pet.breed}}</p>
    <button *ngIf="isAdmin" class="delete-btn" (click)="onDelete(); $event.stopPropagation()">
      Видалити
    </button>
  </div>
</a>
