.box-filter{
  background: #f4d39c;
  padding: 20px 55px 20px 80px;
  /*border-top: #633d01 5px solid;*/
  /*border-bottom: #633d01 5px solid;*/
  border-right: #633d01 5px solid;
  height: 110px;
  width: 100%;
}
form select{
  margin: 10px 0px;
  font-size: 18px;
  cursor: pointer;
  border: #633d01 2px solid;
  padding: 5px;
  border-radius: 4px;
}
form select option{
  cursor: pointer;
}
.box-select{
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  gap: 12px;
}
